{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 bg-white p-5 rounded shadow-sm">
                <h2 class="text-center mb-4">Reset Password</h2>

                <form action="{% url 'users:reset_password' %}" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Reset Password</button>
                </form>

                <hr>
                <div class="text-center">
                    <p>Remembered your password? <a href="{% url 'users:login' %}" class="text-decoration-none">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}